@use './variables.scss' as *;
@use './text.scss';
@use './title.scss';
@use './background.scss';
@use './push-up-animation.scss';
@use './timer.scss';
@use './button.scss';
@use './switch.scss';
@use './dark-mode-switch.scss';
@use './difficulty-selector.scss';
@use './circular-progress.scss';
@use './controls.scss';

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
}

.application {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  height: fit-content;

  .title {
    margin-bottom: 8px;
  }

  .timer {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .background-animation {
    position: absolute;
    top: calc(50vh - 366px);
    z-index: -1;
    transform: scale(1);
    transform-origin: center center;
    overflow: hidden;
  }

  &.expanded {
    .background-animation {
      top: calc(50vh - 313px);
    }
  }

  .controls {
    margin: 0;
    margin-top: 16px;
  }

  .dark-mode-switch {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

@media (max-width: 640px) {
  html,
  body {
    height: 100%;
  }

  .application {
    height: 100%;
    justify-content: flex-end;

    .title {
      position: absolute;
      top: calc(16px);
      margin: 0 !important;
    }

    .difficulty-selector {
      position: absolute;
      top: calc(64px);
      margin: 0;
      width: calc(100% - 32px) !important;
      max-width: 300px !important;
    }

    .timer {
      position: absolute;
      top: calc(50vh - 150px);
    }

    .background-animation {
      top: calc(50vh - 330px);
      transform: scale(0.75);
    }

    &.expanded {
      .timer {
        position: absolute;
        top: calc(50vh - 110px);
      }

      .background-animation {
        top: calc(50vh - 290px);
        transform: scale(0.75);
      }
    }

    .controls {
      margin: 16px;
    }
  }
}

@media (max-width: 450px) {
  .application {
    .background-animation {
      top: calc(50vh - 315px);
      transform: scale(0.5);
    }

    &.expanded {
      .background-animation {
        top: calc(50vh - 275px);
        transform: scale(0.5);
      }
    }
  }
}

@media (max-width: 350px) {
  // TODO
}
