@use './text.scss';
@use './title.scss';
@use './push-up-animation.scss';
@use './timer.scss';
@use './button.scss';
@use './difficulty-selector.scss';
@use './circular-progress.scss';

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 640px) {
  html,
  body {
    height: 100%;
  }
}

body {
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  background-image: linear-gradient(
    179.1deg,
    rgba(255, 255, 255, 1) -1.9%,
    rgba(230, 230, 230, 1) 91.8%
  );
  backdrop-filter: blur(10px);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  height: fit-content;
}

@media (max-width: 640px) {
  .app-container {
    height: 100%;
    justify-content: space-between;
  }
}

.main-controls {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.background-animation {
  position: absolute;
  top: calc(50vh - 360px);
  z-index: -1;
  transform: scale(1);
  transform-origin: center center;
  overflow: hidden;
}

@media (max-width: 640px) {
  .background-animation {
    top: calc(50vh - 315px);
    transform: scale(0.5);
  }
}
