@use './variables.scss' as *;
@use './text.scss';
@use './title.scss';
@use './push-up-animation.scss';
@use './timer.scss';
@use './button.scss';
@use './difficulty-selector.scss';
@use './circular-progress.scss';
@use './controls.scss';

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 640px) {
  html,
  body {
    height: 100%;
  }
}

body {
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .background-circle {
    width: 150vh;
    height: 150vh;
    position: absolute;
    top: calc(50% - 75vh);
    left: calc(50% - 75vh);
    background-color: white;
    border-radius: 50%;
    z-index: -100;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  height: fit-content;

  .title {
    margin-bottom: 8px;
  }

  .timer {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .background-animation {
    position: absolute;
    top: calc(50vh - 366px);
    z-index: -1;
    transform: scale(1);
    transform-origin: center center;
    overflow: hidden;
  }

  &.expanded {
    .background-animation {
      top: calc(50vh - 313px);
    }
  }
}

@media (max-width: 640px) {
  .app-container {
    height: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 640px) {
  .app-container {
    .timer {
      position: absolute;
      top: calc(50vh - 150px);
    }

    .background-animation {
      top: calc(50vh - 280px);
      transform: scale(0.75);
    }

    &.expanded {
      .timer {
        position: absolute;
        top: calc(50vh - 110px);
      }

      .background-animation {
        top: calc(50vh - 304px);
        transform: scale(0.75);
      }
    }
  }
}

@media (max-width: 640px) {
  .difficulty-selector {
    position: absolute;
    top: calc(64px);
    margin: 0;
    width: calc(100% - 32px) !important;
    max-width: 300px !important;
  }
}

@media (max-width: 640px) {
  .title {
    position: absolute;
    top: calc(16px);
    margin: 0 !important;
  }
}
