@use './variables.scss' as *;

$button-width: 126px;
$button-height: 40px;

.button {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 14px !important;
  line-height: 14px;
  letter-spacing: 0.65px;
  white-space: nowrap;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: $button-width;
  height: $button-height;
  color: $button-color;
  display: inline-block;
  border: 0;
  text-decoration: none;
  border-radius: 20px;
  background-color: $button-background-color;
  backdrop-filter: blur(10px);
  color: $button-color;
  text-transform: uppercase;

  svg {
    margin-right: 8px;
  }
}

.button:focus {
  outline: 4px solid $button-background-color;
  outline-offset: 4px;
}
