@use './variables.scss' as *;

$button-width: 128px;
$button-height: 40px;

.button {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 14px !important;
  line-height: 14px;
  letter-spacing: 0.75px;
  white-space: nowrap;
  border-radius: 20px;
  cursor: pointer;
  width: $button-width;
  height: $button-height;
  display: inline-block;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;

  &.primary {
    &:focus {
      outline-offset: 0px;
    }
  }

  &.ghost {
    &:focus {
      outline-offset: 0px;
    }
  }

  svg {
    margin-right: 8px;
  }

  &:disabled {
    cursor: not-allowed;

    &:active {
      transform: none;
    }
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 800ms linear;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

body {
  .button {
    color: $button-color;

    &.primary {
      color: $button-color;
      background-color: $button-background-color;

      &:hover {
        background-color: $button-background-color-hover;
      }

      &:focus {
        outline: 4px solid $button-background-focus-color;
      }
    }

    &.ghost {
      color: $text-light-color;
      background-color: $button-ghost-background-color;

      &:hover {
        background-color: $button-ghost-background-color-hover;
      }

      &:focus {
        outline: 4px solid $button-ghost-background-focus-color;
      }
    }

    &:disabled {
      opacity: 0.5;

      &:active {
        transform: none;
      }
    }
  }
}

body.dark-mode {
  .button {
    color: $button-color--dark-mode;

    &.primary {
      color: $button-color--dark-mode;
      background-color: $button-background-color--dark-mode;

      &:hover {
        background-color: $button-background-color-hover--dark-mode;
      }

      &:focus {
        outline: 4px solid $button-background-focus-color--dark-mode;
      }
    }

    &.ghost {
      color: $text-light-color--dark-mode;
      background-color: $button-ghost-background-color--dark-mode;

      &:hover {
        background-color: $button-ghost-background-color-hover--dark-mode;
      }

      &:focus {
        outline: 4px solid $button-ghost-background-focus-color--dark-mode;
      }
    }

    &:disabled {
      opacity: 0.5;

      &:active {
        transform: none;
      }
    }
  }
}
