@use './variables.scss' as *;

$button-width: 126px;
$button-height: 40px;

.button {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 14px !important;
  line-height: 14px;
  letter-spacing: 0.65px;
  white-space: nowrap;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  width: $button-width;
  height: $button-height;
  color: $button-color;
  display: inline-block;
  border: 0;
  text-decoration: none;
  background-color: $button-background-color;
  backdrop-filter: blur(10px);
  color: $button-color;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;

  svg {
    margin-right: 8px;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;

    &:active {
      transform: none;
    }
  }
}

.button:focus {
  outline: 4px solid $button-background-focus-color;
  outline-offset: 0px;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
