@use './variables.scss' as *;

.controls {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  background-color: $controls-background-color;
  padding: 16px;
  border-radius: 20px;
  margin: 0;
  width: fit-content;
}

@media (max-width: 640px) {
  .controls {
    margin-bottom: 16px;
    width: 100%;
  }
}
