@use './variables.scss' as *;

.controls {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 20px;
  width: fit-content;
  margin: 0;
}

body {
  .controls {
    background-color: $card-background-color;
  }
}

body.dark-mode {
  .controls {
    background-color: $card-background-color--dark-mode;
  }
}
