@use './variables.scss' as *;

.difficulty-selector {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%; // TODO Variable? or remove?
  margin: 0;
  margin-bottom: 96px;
  padding: 16px;
  background-color: $controls-background-color;
  border-radius: 20px;

  .header {
    margin-bottom: 16px;
  }

  .row {
    width: 100%;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button {
    width: 86px;
    padding: 8px;
  }
}
