@use './variables.scss' as *;

.difficulty-selector {
  width: 304px;
  padding: 0;
  margin: 16px;

  .difficulty-selector-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 16px;
    border-radius: 20px;

    .difficulty-selector-title {
      span {
        font-weight: 500 !important;
      }
    }

    .header.expanded {
      margin-bottom: 16px;
    }

    .row {
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .button {
      width: 86px;
      padding: 8px;
    }

    .buttons {
      display: flex;
      gap: 8px;
    }

    .circle-button {
      .button {
        width: 40px;
        padding: 0;

        svg {
          margin: 0;
        }
      }
    }

    .settings-input {
      width: 56px;
      padding: 4px 4px;
      height: 14px;
      font-size: 16px;
      font-family: $font-family;
      text-align: right;
      border-radius: 8px;
      outline: none;
      transition: border-color 0.2s;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        opacity: 1;
      }
    }

    .input-with-unit {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

body {
  .difficulty-selector {
    .difficulty-selector-card {
      background-color: $card-background-color;

      .difficulty-selector-title {
        span {
          color: $text-color !important;
        }
      }

      .settings-input {
        border: 1px solid $text-light-color;
        background-color: $background-circle-color;
        color: $text-color;

        &:focus {
          border-color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}

body.dark-mode {
  .difficulty-selector {
    .difficulty-selector-card {
      background-color: $card-background-color--dark-mode;

      .difficulty-selector-title {
        span {
          color: $text-color--dark-mode !important;
        }
      }

      .settings-input {
        border: 1px solid $text-light-color--dark-mode;
        background-color: $background-circle-color--dark-mode;
        color: $text-color--dark-mode;

        &:focus {
          border-color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}
