@use './variables.scss' as *;

.difficulty-selector {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 256px; // TODO Variable? or remove?
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  .btn {
    min-width: 42px;
    max-width: 42px;
  }
}

.level-text {
  font-family: $font-family;
  font-weight: 500 !important;
  font-style: normal;
  font-size: 16px !important;
  letter-spacing: 0.65px;
  color: #333;
}

.mr-16 {
  margin-right: 16px;
}

.label {
  color: #666;
  text-transform: uppercase;
  font-weight: 400 !important;
}
