@use './variables.scss' as *;

$switch-track-width: 40px;
$switch-track-height: 22px;
$switch-thumb-size: 18px;

.switch {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  .switch-button {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;

    &:focus {
      outline-offset: 0px;
    }

    .switch-track {
      width: $switch-track-width;
      height: $switch-track-height;
      border-radius: 50px;
      position: relative;
    }

    .switch-thumb {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: $switch-thumb-size;
      height: $switch-thumb-size;
      border-radius: 50%;
      left: 2px;
    }

    &.checked {
      .switch-thumb {
        left: calc($switch-track-width - $switch-thumb-size - 2px);
      }
    }
  }

  &.disabled {
    cursor: not-allowed;

    .switch-button {
      cursor: not-allowed;
    }
  }
}

body {
  .switch {
    color: $text-color;

    .switch-button {
      &:focus {
        outline: 2px solid $button-background-focus-color;
        outline-offset: 2px;
      }

      .switch-track {
        background-color: $switch-track-color;
      }

      .switch-thumb {
        background-color: $switch-thumb-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }

      &.checked {
        .switch-track {
          background-color: $color-light-primary;
        }
      }

      &:hover:not(:disabled) {
        .switch-track {
          background-color: $switch-track-color-hover;
        }

        &.checked .switch-track {
          background-color: $color-primary;
        }
      }
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}

body.dark-mode {
  .switch {
    color: $text-color--dark-mode;

    .switch-button {
      &:focus {
        outline: 2px solid $button-background-focus-color--dark-mode;
        outline-offset: 2px;
      }

      .switch-track {
        background-color: $switch-track-color--dark-mode;
      }

      .switch-thumb {
        background-color: $switch-thumb-color--dark-mode;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }

      &.checked {
        .switch-track {
          background-color: $color-light-primary--dark-mode;
        }
      }

      &:hover:not(:disabled) {
        .switch-track {
          background-color: $switch-track-color-hover--dark-mode;
        }

        &.checked .switch-track {
          background-color: $color-primary--dark-mode;
        }
      }
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}
