@use './variables.scss' as *;

.text {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.85px;
  white-space: nowrap;
  text-align: left;
  margin: 0;
  padding: 0;
}

.text--light {
  color: $text-light-color;
}

.text--normal {
  color: $text-color;
}

.text--monospace {
  font-family: $font-family-monospace !important;
}
