@use './variables.scss' as *;

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.display {
  text-align: center;
  pointer-events: none;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  min-width: 174px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  min-height: 36px;
  min-width: 174px;

  .text {
    transition: color 0.3s ease;
  }
}

.series,
.repetitions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.time {
  display: flex;
  align-items: baseline;
  justify-content: center;

  .text {
    font-size: 48px !important;
    font-weight: 600 !important;
  }
}
