@use './variables.scss' as *;

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 640px) {
  .timer {
    position: absolute;
    top: calc(50vh - 100px);
  }
}

.display {
  text-align: center;
  pointer-events: none;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.series,
.repetitions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.time {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 52px;

  .text {
    font-size: 48px !important;
    font-weight: 600 !important;
  }
}
