@use './variables.scss' as *;

.title {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.65px;
  white-space: nowrap;
  text-align: center;
  color: #333;
}
