.title {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  letter-spacing: 0.7px;
  white-space: nowrap;
  text-align: center;
  color: #333;
}
