@use './variables.scss' as *;

.title {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 1.16px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

body {
  .title {
    color: $text-color;
  }
}

body.dark-mode {
  .title {
    color: $text-color--dark-mode;
  }
}
