$font-family: 'Montserrat', sans-serif;
$font-family-monospace: 'Courier New', monospace;

$color-primary: #00aeff;
$color-light-primary: #4dc6ff;
$color-lighter-primary: #99dfff;

$text-color: #333333;
$text-light-color: #6d6d6d;

$button-background-color: $color-light-primary;
$button-background-focus-color: rgba($color-lighter-primary, 0.8);
$button-background-color-hover: #66cfff;
$button-color: #ffffff;

$card-background-color: #e5f8ff;

$background-color: $card-background-color;
$background-circle-color: #ffffff;
