$font-family: 'Montserrat', sans-serif;
$font-family-monospace: 'Courier New', monospace;

$color-primary: #00aeff;
$color-light-primary: #4dc6ff;
$color-lighter-primary: #99dfff;

$color-primary--dark-mode: #005780;
$color-light-primary--dark-mode: #008bcc;
$color-lighter-primary--dark-mode: #1ab6ff;

$text-color: #333333;
$text-light-color: #666666;

$text-color--dark-mode: #dddddd;
$text-light-color--dark-mode: #999999;

$button-background-color: $color-light-primary;
$button-background-focus-color: rgba($color-lighter-primary, 0.8);
$button-background-color-hover: #66cfff;
$button-color: #ffffff;

$button-ghost-background-color: rgba(255, 255, 255, 0.25);
$button-ghost-background-focus-color: rgba(255, 255, 255, 0.85);
$button-ghost-background-color-hover: rgba(255, 255, 255, 0.75);

$button-background-color--dark-mode: $color-light-primary--dark-mode;
$button-background-focus-color--dark-mode: rgba($color-light-primary--dark-mode, 0.45);
$button-background-color-hover--dark-mode: #009de6;
$button-color--dark-mode: #eeeeee;

$button-ghost-background-color--dark-mode: rgba(255, 255, 255, 0.125);
$button-ghost-background-focus-color--dark-mode: rgba(255, 255, 255, 0.08);
$button-ghost-background-color-hover--dark-mode: rgba(255, 255, 255, 0.25);

$card-background-color: #e5f8ff;
$card-background-color--dark-mode: #242424;

$background-color: $card-background-color;
$background-color--dark-mode: $card-background-color--dark-mode;
$background-circle-color: #ffffff;
$background-circle-color--dark-mode: #2b2b2b;

$switch-track-color: #cccccc;
$switch-track-color-hover: #aaaaaa;
$switch-thumb-color: #ffffff;

$switch-track-color--dark-mode: #cccccc;
$switch-track-color-hover--dark-mode: #aaaaaa;
$switch-thumb-color--dark-mode: #ffffff;
