$font-family: 'Roboto', sans-serif;
$font-family-monospace: 'Courier New', monospace;

$color-primary: hsl(199, 100%, 47%);

$text-color: #333333;
$text-light-color: #6d6d6d;

$button-background-color: #ffffff;
$button-background-color-hover: #d3d3d3;
$button-color: #111111;

$controls-background-color: hsl(0, 0%, 89%);
$controls-separator-color: hsl(199, 100%, 97%);

$background-color: #ffffff;
